.txtbox {
  color: var(--body-text-color); }

a, .password-link a:hover {
  color: var(--primary-color); }

.btn_c, .btn_c:active {
  background-color: var(--primary-color); }

a:hover {
  color: var(--link-hover-color); }

.btn_c:hover {
  background-color: var(--link-hover-color); }

html, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .password-link a, .password-hero h2, .password-footer {
  color: #fff; }

.btn_c, .btn_c:hover, .btn_c:active {
  color: var(--button-text-color); }

.mfp-bg {
  background-color: #000; }

body {
  font-family: var(--body-font); }

body {
  font-style: var(--body-font-style); }

body, .txtbox {
  font-weight: var(--body-text-weight); }

.btn_c {
  font-weight: var(--body-text-bolder); }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: var(--heading-font); }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-style: var(--heading-font-style); }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-size: var(--heading-font-weight); }

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
  line-height: normal; }

h5, .h5, .password-link, .mfp-content .h4 {
  text-transform: uppercase; }

body, .password-hero h2, .btn_c, .social ul, .social ul li a {
  text-align: center; }

.password-link {
  text-align: right; }

.password-message {
  font-style: italic; }

.btn_c, .txtbox {
  font-size: 14px; }

.btn_c, .template-password {
  position: relative; }

.template-password::after, .mfp-bg:after {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.template-password::after, .mfp-bg:after {
  height: 100%;
  width: 100%; }

.password-logo img, .social ul li a {
  display: block; }

.btn_c, .txtbox, .social ul li, .shopify-logo-svg {
  display: inline-block; }

.password-main {
  display: flex; }

.template-password::after, .mfp-bg:after {
  display: block;
  position: absolute; }

.social ul li a {
  border-radius: 50%; }

.password-main {
  align-items: center; }

.template-password {
  z-index: 1; }

.template-password::after, .mfp-bg:after {
  z-index: -1; }

body, .txtbox {
  margin: 0; }

.np, .social ul li {
  padding: 0; }

*, html, p, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, .social ul {
  margin: 0;
  padding: 0; }

*, *:before, *:after {
  box-sizing: border-box; }

body {
  background: transparent; }

ul, li, .social ul {
  list-style: none; }

a, a:hover, .btn_c:hover, .btn_c:active {
  text-decoration: none; }

a, .btn_c {
  transition: 0.3s; }

.mfp-bg {
  overflow-x: hidden; }

hr, .btn_c {
  border: none; }

.template-password::after, .mfp-bg:after {
  content: ""; }

.btn_c {
  cursor: pointer; }

.btn_c {
  border-radius: 18px; }

html {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }

html {
  background-color: #333;
  background-image: url(var(--pwd-bg-image)); }

body {
  padding: 0 0 30px 0; }

.pr45 {
  padding-right: 45px; }

.m15 {
  margin: 15px; }

.mt10 {
  margin-top: 10px; }

.mt15 {
  margin-top: 15px; }

.mb15 {
  margin-bottom: 15px; }

.mt20 {
  margin-top: 20px; }

.mb20 {
  margin-bottom: 20px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.no-transition {
  transition: height 0; }

h1,
.h1 {
  font-size: 34px; }

h2,
.h2 {
  font-size: 28px; }

h3,
.h3 {
  font-size: 22px;
  font-weight: 700; }

h4,
.h4 {
  font-size: 18px;
  font-weight: 400; }

h5,
.h5 {
  font-size: 12px;
  line-height: 16px;
  font-weight: 900; }

.password-link {
  margin: 20px 20px 0 0; }

.password-link span {
  margin-right: 5px; }

.password-logo img {
  margin: 40px auto; }

.password-hero h2 {
  font-size: 42px; }

.password-message {
  font-size: 1.3em;
  margin: 20px 0 30px;
  color: #999; }

hr {
  width: 100px;
  color: #ccc;
  background: #ccc;
  height: 3px;
  margin: 20px auto 30px; }

p.form-success {
  color: #15ca48; }

.btn_c {
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  max-width: 250px; }

.txtbox {
  width: 200px;
  border: 1px solid #d7dbdb;
  height: 40px;
  padding: 0 15px;
  border-radius: 15px; }
  .txtbox:focus {
    outline: none; }

.social {
  padding: 20px 0; }

.social ul li {
  margin: 0 5px 5px 0; }
  .social ul li a {
    height: 40px;
    width: 40px;
    border: 1px solid var(--hf-social-color); }
    .social ul li a span {
      font-size: 18px;
      color: var(--hf-social-color);
      line-height: 40px; }

.social li.facebook a:hover {
  background-color: #325c94; }

.social li.twitter a:hover {
  background-color: #00abdc; }

.social li.google a:hover {
  background-color: #d9031f; }

.shopify-logo-svg {
  width: 82.28571px;
  height: 24px;
  line-height: 0;
  vertical-align: top;
  padding-left: 3px; }

.password-footer {
  margin-top: 30px; }

.mfp-content .h4 {
  margin-bottom: 20px; }

.mfp-close {
  font-size: 3em; }

.errors {
  color: #f00; }

.m15 {
  margin: 15px; }

.password-main {
  height: calc(100vh - 135px); }

.template-password::after, .mfp-bg:after {
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important; }
